/* public/css/admin_style.css */
body {
    font-family: 'Poppins', sans-serif;
    background: #F4F4F9; /* Fondo gris claro */
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* --- Estilos del Sidebar --- */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3D405B; /* Azul profundo principal */
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #2F3C7E; /* Un azul un poco más oscuro para el header */
}
#sidebar ul.components {
    padding: 20px 0;
}
#sidebar ul li a {
    padding: 10px 15px;
    font-size: 1.1em;
    display: block;
    border-radius: 5px;
    margin: 0 10px;
}
/* Acento dorado/beige para hover */
#sidebar ul li a:hover {
    color: #212529;
    background: #C0A774;
}
/* Acento dorado/beige para el enlace activo */
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #212529;
    background: #C0A774;
}
#sidebar a.text-danger:hover {
    color: #fff !important;
    background: #dc3545;
}

/* --- Estilos del Contenido --- */
#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}
.top-navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/* Botón de menú en azul */
#sidebarCollapse {
    background-color: #3D405B;
    border: none;
    color: #FFFFFF;
}

/* --- Media Queries --- */
@media (max-width: 768px) {
    #sidebar { margin-left: -250px; }
    #sidebar.active { margin-left: 0; }
    #sidebarCollapse span { display: none; }
}